# Copyright (c) 2022-2025, Keivan Tafakkori. All rights reserved.
# See the file LICENSE file for licensing details.

# dev/build
.githooks/*
.vscode/*
__pycache__/*
*.py[cod]
*.pyo
*.egg-info/*
build/*
dist/*
wheelhouse/*
.env
.venv/*
feloopy/extensions/*
tests/*
private_wheels/*
